In [18]:
import pandas as pd
import os

In [39]:
input_file= "Resources/test.csv"
in_file = os.path.join(input_file)
df_file = pd.read_csv(in_file)

In [43]:
df_f = df_file["tf"] == True
df_f

0     True
1     True
2    False
3     True
Name: tf, dtype: bool

In [44]:
test_df = df_file[(df_f)]

In [45]:
test_df

  name    tf  num
0    a  True    1
1    b  True    2
3    d  True    4

In [2]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]
for school in high_schools :
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [23]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

for school in high_school_types:
        
        print (school)
        
print("-"*10)

for school in high_school_types:
        print(school["High School"])
        print(school["Type"])
        print("-"*10)
        
for school in high_school_types:       
        for key,value in school.items():
            print (key,":",value)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}
----------
Griffin
District
----------
Figueroa
District
----------
Wilson
Charter
----------
Wright
Charter
----------
High School : Griffin
Type : District
High School : Figueroa
Type : District
High School : Wilson
Type : Charter
High School : Wright
Type : Charter

In [4]:
print("test")

test